<%= form_tag would_you_rather_index_path, :method => :post do %>
	<div class='form'>
		<%= label_tag :would_you_rather %>:<br>
		<%= text_area_tag :option %>
	</div>
	<br>
	<div class='action'>
		<%= submit_tag 'Add into rotation' %>
	</div>
<% end %>